:root {
  --progressBar: #54d1db;
}

body {
  background: #f7e8e8 !important;
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mySpinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refreshIcon {
  text-align: center;
}

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
.pimage{
  margin-left: 2px !important;
}
@media (max-width:398px) {
  .posts{
   width:250px !important;

  
  
  }
  .cardDet{
    padding: 2px !important;
  }
  .imageUp{
    width: 100% !important;
  }
  .menu{
    display: flex;
    flex-wrap: wrap;
    
  }
  .imageUp{
    width:700px !important; 
  }
 
  
  
}
@media (min-width:398px) and (max-width:560px){
  .menu{
    display: flex;
    flex-wrap: wrap;

    
  }
  
}
.smallH{
  margin-top: 13px !important;
}



